In [1]:
import requests
import pandas as pd
from secrets_config import opensky_api_key # https://openskynetwork.github.io/opensky-api/rest.html
import time
import numpy as np

In [2]:
''' 
current_time = int(time.time())
one_hour_ago = current_time - 3600
print(current_time, one_hour_ago)
'''

' \ncurrent_time = int(time.time())\none_hour_ago = current_time - 3600\nprint(current_time, one_hour_ago)\n'

In [3]:
current_time = int(time.mktime(time.strptime('2025-01-01 01:00:00', '%Y-%m-%d %H:%M:%S')))
one_hour_ago = current_time - 3600
print(current_time, one_hour_ago)

1735664400 1735660800

In [4]:
root_url = 'https://opensky-network.org/api/flights/all'

In [5]:
# open sky api usage docs: # https://openskynetwork.github.io/opensky-api/rest.html
params = {
    "begin": one_hour_ago,
    "end": current_time
} 
response = requests.get(f"{root_url}", params=params)
print(response.status_code)
response_data = response.json()

200

In [6]:
# showing the data 

df_flights = pd.json_normalize(data=response_data)

df_flights.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportHorizDistance,estDepartureAirportVertDistance,estArrivalAirportHorizDistance,estArrivalAirportVertDistance,departureAirportCandidatesCount,arrivalAirportCandidatesCount
0,a9519b,1735661721,KFWS,1735662419,75TE,DCM2700,3457.0,487.0,8714.0,1455.0,7,16
1,ab49a8,1735661657,KOXC,1735662380,KOXC,N8261H,3418.0,304.0,2907.0,213.0,1,9
2,aab2c0,1735662065,KCOS,1735663723,None,XEN89,1565.0,72.0,NaN,NaN,0,0
3,e07191,1735662036,SABE,1735663011,None,ARG1892,715.0,47.0,NaN,NaN,0,0
4,e49c59,1735662336,None,1735662959,None,TAM3302,NaN,NaN,NaN,NaN,0,0

In [7]:
df_flights['firstSeen'] = pd.to_datetime(df_flights['firstSeen'], unit='s')
df_flights['lastSeen'] = pd.to_datetime(df_flights['lastSeen'], unit='s')
df_flights.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportHorizDistance,estDepartureAirportVertDistance,estArrivalAirportHorizDistance,estArrivalAirportVertDistance,departureAirportCandidatesCount,arrivalAirportCandidatesCount
0,a9519b,2024-12-31 16:15:21,KFWS,2024-12-31 16:26:59,75TE,DCM2700,3457.0,487.0,8714.0,1455.0,7,16
1,ab49a8,2024-12-31 16:14:17,KOXC,2024-12-31 16:26:20,KOXC,N8261H,3418.0,304.0,2907.0,213.0,1,9
2,aab2c0,2024-12-31 16:21:05,KCOS,2024-12-31 16:48:43,None,XEN89,1565.0,72.0,NaN,NaN,0,0
3,e07191,2024-12-31 16:20:36,SABE,2024-12-31 16:36:51,None,ARG1892,715.0,47.0,NaN,NaN,0,0
4,e49c59,2024-12-31 16:25:36,None,2024-12-31 16:35:59,None,TAM3302,NaN,NaN,NaN,NaN,0,0

In [8]:

pd.options.display.float_format = '{:.2f}'.format
df_flights['estDepartureAirportDistance'] = np.sqrt(df_flights['estDepartureAirportHorizDistance']**2 + df_flights['estDepartureAirportVertDistance']**2)
df_flights['estArrivalAirportDistance'] = np.sqrt(df_flights['estArrivalAirportHorizDistance']**2 + df_flights['estArrivalAirportVertDistance']**2)

df_flights.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportHorizDistance,estDepartureAirportVertDistance,estArrivalAirportHorizDistance,estArrivalAirportVertDistance,departureAirportCandidatesCount,arrivalAirportCandidatesCount,estDepartureAirportDistance,estArrivalAirportDistance
0,a9519b,2024-12-31 16:15:21,KFWS,2024-12-31 16:26:59,75TE,DCM2700,3457.00,487.00,8714.00,1455.00,7,16,3491.13,8834.64
1,ab49a8,2024-12-31 16:14:17,KOXC,2024-12-31 16:26:20,KOXC,N8261H,3418.00,304.00,2907.00,213.00,1,9,3431.49,2914.79
2,aab2c0,2024-12-31 16:21:05,KCOS,2024-12-31 16:48:43,None,XEN89,1565.00,72.00,NaN,NaN,0,0,1566.66,NaN
3,e07191,2024-12-31 16:20:36,SABE,2024-12-31 16:36:51,None,ARG1892,715.00,47.00,NaN,NaN,0,0,716.54,NaN
4,e49c59,2024-12-31 16:25:36,None,2024-12-31 16:35:59,None,TAM3302,NaN,NaN,NaN,NaN,0,0,NaN,NaN

In [9]:
df_flights_transformed = df_flights[['icao24', 'firstSeen', 'estDepartureAirport', 'lastSeen', 'estArrivalAirport', 'callsign', 'estDepartureAirportDistance', 'estArrivalAirportDistance']]
df_flights_transformed.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportDistance,estArrivalAirportDistance
0,a9519b,2024-12-31 16:15:21,KFWS,2024-12-31 16:26:59,75TE,DCM2700,3491.13,8834.64
1,ab49a8,2024-12-31 16:14:17,KOXC,2024-12-31 16:26:20,KOXC,N8261H,3431.49,2914.79
2,aab2c0,2024-12-31 16:21:05,KCOS,2024-12-31 16:48:43,None,XEN89,1566.66,NaN
3,e07191,2024-12-31 16:20:36,SABE,2024-12-31 16:36:51,None,ARG1892,716.54,NaN
4,e49c59,2024-12-31 16:25:36,None,2024-12-31 16:35:59,None,TAM3302,NaN,NaN

In [10]:
# read list of airports by icao codes
df_airports = pd.read_csv("data/airport-codes.csv") # from  https://github.com/datasets/airport-codes/tree/main
df_airports.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,icao_code,iata_code,gps_code,local_code,coordinates
0,00A,heliport,Total RF Heliport,11.00,NaN,US,US-PA,Bensalem,NaN,NaN,K00A,00A,"40.070985, -74.933689"
1,00AA,small_airport,Aero B Ranch Airport,3435.00,NaN,US,US-KS,Leoti,NaN,NaN,00AA,00AA,"38.704022, -101.473911"
2,00AK,small_airport,Lowell Field,450.00,NaN,US,US-AK,Anchor Point,NaN,NaN,00AK,00AK,"59.947733, -151.692524"
3,00AL,small_airport,Epps Airpark,820.00,NaN,US,US-AL,Harvest,NaN,NaN,00AL,00AL,"34.86479949951172, -86.77030181884766"
4,00AN,small_airport,Katmai Lodge Airport,80.00,NaN,US,US-AK,King Salmon,NaN,NaN,00AN,00AN,"59.093287, -156.456699"

In [11]:
# Merge for departure airport information
merged_departure = df_flights_transformed.merge(df_airports, left_on='estDepartureAirport', right_on='ident', how='left').drop('ident', axis=1)
merged_departure = merged_departure.rename(columns={
    'name': 'departure_airport_name', 
    'coordinates': 'departure_coordinates', 
    'iso_country': 'departure_country',
    'elevation_ft': 'departure_elevation_ft',
    'continent': 'departure_continent',
    'iso_region': 'departure_iso_region',
    'municipality': 'departure_municipality',
    'icao_code': 'departure_icao_code',
    'iata_code': 'departure_iata_code',
    'gps_code': 'departure_gps_code',
    'local_code': 'departure_local_code',
    'type': 'departure_airport_type',
})

# Merge for arrival airport information
final_merged = merged_departure.merge(df_airports, left_on='estArrivalAirport', right_on='ident', how='left').drop('ident', axis=1)
final_merged = final_merged.rename(columns={
    'name': 'arrival_airport_name', 
    'coordinates': 'arrival_coordinates', 
    'iso_country': 'arrival_country',
    'elevation_ft': 'arrival_elevation_ft',
    'continent': 'arrival_continent',
    'iso_region': 'arrival_iso_region',
    'municipality': 'arrival_municipality',
    'icao_code': 'arrival_icao_code',
    'iata_code': 'arrival_iata_code',
    'gps_code': 'arrival_gps_code',
    'local_code': 'arrival_local_code',
    'type': 'arrival_airport_type',
})

final_merged.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportDistance,estArrivalAirportDistance,departure_airport_type,departure_airport_name,...,arrival_elevation_ft,arrival_continent,arrival_country,arrival_iso_region,arrival_municipality,arrival_icao_code,arrival_iata_code,arrival_gps_code,arrival_local_code,arrival_coordinates
0,a9519b,2024-12-31 16:15:21,KFWS,2024-12-31 16:26:59,75TE,DCM2700,3491.13,8834.64,small_airport,Fort Worth Spinks Airport,...,500.00,NaN,US,US-TX,Waco,NaN,NaN,75TE,75TE,"31.747400283813477, -97.24610137939453"
1,ab49a8,2024-12-31 16:14:17,KOXC,2024-12-31 16:26:20,KOXC,N8261H,3431.49,2914.79,small_airport,Waterbury Oxford Airport,...,726.00,NaN,US,US-CT,Oxford,KOXC,OXC,KOXC,OXC,"41.47859954834, -73.135200500488"
2,aab2c0,2024-12-31 16:21:05,KCOS,2024-12-31 16:48:43,None,XEN89,1566.66,NaN,medium_airport,City of Colorado Springs Municipal Airport,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,e07191,2024-12-31 16:20:36,SABE,2024-12-31 16:36:51,None,ARG1892,716.54,NaN,large_airport,Jorge Newbery Airpark,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,e49c59,2024-12-31 16:25:36,None,2024-12-31 16:35:59,None,TAM3302,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
final_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1023 entries, 0 to 1022
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   icao24                       1023 non-null   object
 1   firstSeen                    1023 non-null   datetime64[ns]
 2   estDepartureAirport          777 non-null    object
 3   lastSeen                     1023 non-null   datetime64[ns]
 4   estArrivalAirport            868 non-null    object
 5   callsign                     1021 non-null   object
 6   estDepartureAirportDistance  777 non-null    float64
 7   estArrivalAirportDistance    868 non-null    float64
 8   departure_airport_type       753 non-null    object
 9   departure_airport_name       753 non-null    object
 10  departure_elevation_ft       753 non-null    float64
 11  departure_continent          123 non-null    object
 12  departure_country            753 non-null    object
 13  departure_iso_region         753 non-null    object
 14  departure_municipality       751 non-null    object
 15  departure_icao_code          548 non-null    object
 16  departure_iata_code          559 non-null    object
 17  departure_gps_code           745 non-null    object
 18  departure_local_code         622 non-null    object
 19  departure_coordinates        753 non-null    object
 20  arrival_airport_type         838 non-null    object
 21  arrival_airport_name         838 non-null    object
 22  arrival_elevation_ft         838 non-null    float64
 23  arrival_continent            185 non-null    object
 24  arrival_country              838 non-null    object
 25  arrival_iso_region           838 non-null    object
 26  arrival_municipality         836 non-null    object
 27  arrival_icao_code            533 non-null    object
 28  arrival_iata_code            545 non-null    object
 29  arrival_gps_code             830 non-null    object
 30  arrival_local_code           642 non-null    object
 31  arrival_coordinates          838 non-null    object
dtypes: datetime64[ns](2), float64(4), object(26)
memory usage: 263.7+ KB

In [13]:
final_merged.columns

Index(['icao24', 'firstSeen', 'estDepartureAirport', 'lastSeen',
       'estArrivalAirport', 'callsign', 'estDepartureAirportDistance',
       'estArrivalAirportDistance', 'departure_airport_type',
       'departure_airport_name', 'departure_elevation_ft',
       'departure_continent', 'departure_country', 'departure_iso_region',
       'departure_municipality', 'departure_icao_code', 'departure_iata_code',
       'departure_gps_code', 'departure_local_code', 'departure_coordinates',
       'arrival_airport_type', 'arrival_airport_name', 'arrival_elevation_ft',
       'arrival_continent', 'arrival_country', 'arrival_iso_region',
       'arrival_municipality', 'arrival_icao_code', 'arrival_iata_code',
       'arrival_gps_code', 'arrival_local_code', 'arrival_coordinates'],
      dtype='object')

In [14]:
columns_to_keep = [
    'icao24', 'firstSeen', 'lastSeen', 'estDepartureAirport', 'estArrivalAirport', 
    'callsign', 'estDepartureAirportDistance', 'estArrivalAirportDistance', 
    'departure_airport_type', 'departure_airport_name', 'departure_country', 
    'departure_coordinates', 'arrival_airport_type', 'arrival_airport_name', 
    'arrival_country', 'arrival_coordinates'
]

df_filtered = final_merged[columns_to_keep]
df_filtered.head()

,icao24,firstSeen,lastSeen,estDepartureAirport,estArrivalAirport,callsign,estDepartureAirportDistance,estArrivalAirportDistance,departure_airport_type,departure_airport_name,departure_country,departure_coordinates,arrival_airport_type,arrival_airport_name,arrival_country,arrival_coordinates
0,a9519b,2024-12-31 16:15:21,2024-12-31 16:26:59,KFWS,75TE,DCM2700,3491.13,8834.64,small_airport,Fort Worth Spinks Airport,US,"32.565201, -97.308098",small_airport,Womack Farm Airport,US,"31.747400283813477, -97.24610137939453"
1,ab49a8,2024-12-31 16:14:17,2024-12-31 16:26:20,KOXC,KOXC,N8261H,3431.49,2914.79,small_airport,Waterbury Oxford Airport,US,"41.47859954834, -73.135200500488",small_airport,Waterbury Oxford Airport,US,"41.47859954834, -73.135200500488"
2,aab2c0,2024-12-31 16:21:05,2024-12-31 16:48:43,KCOS,None,XEN89,1566.66,NaN,medium_airport,City of Colorado Springs Municipal Airport,US,"38.805801, -104.700996",NaN,NaN,NaN,NaN
3,e07191,2024-12-31 16:20:36,2024-12-31 16:36:51,SABE,None,ARG1892,716.54,NaN,large_airport,Jorge Newbery Airpark,AR,"-34.5592, -58.4156",NaN,NaN,NaN,NaN
4,e49c59,2024-12-31 16:25:36,2024-12-31 16:35:59,None,None,TAM3302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_filtered.dtypes

icao24                                 object
firstSeen                      datetime64[ns]
lastSeen                       datetime64[ns]
estDepartureAirport                    object
estArrivalAirport                      object
callsign                               object
estDepartureAirportDistance           float64
estArrivalAirportDistance             float64
departure_airport_type                 object
departure_airport_name                 object
departure_country                      object
departure_coordinates                  object
arrival_airport_type                   object
arrival_airport_name                   object
arrival_country                        object
arrival_coordinates                    object
dtype: object