In [14]:
import requests
import pandas as pd
from secrets_config import opensky_api_key # https://openskynetwork.github.io/opensky-api/rest.html
import time
import numpy as np

In [2]:
''' 
current_time = int(time.time())
one_hour_ago = current_time - 3600
print(current_time, one_hour_ago)
'''

' \ncurrent_time = int(time.time())\none_hour_ago = current_time - 3600\nprint(current_time, one_hour_ago)\n'

In [3]:
current_time = int(time.mktime(time.strptime('2025-01-01 01:00:00', '%Y-%m-%d %H:%M:%S')))
one_hour_ago = current_time - 3600
print(current_time, one_hour_ago)

1735664400 1735660800

In [4]:
root_url = 'https://opensky-network.org/api/flights/all'

In [5]:
# open sky api usage docs: # https://openskynetwork.github.io/opensky-api/rest.html
params = {
    "begin": one_hour_ago,
    "end": current_time
} 
response = requests.get(f"{root_url}", params=params)
print(response.status_code)
response_data = response.json()

200

In [7]:
# showing the data 

df_flights = pd.json_normalize(data=response_data)

df_flights.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportHorizDistance,estDepartureAirportVertDistance,estArrivalAirportHorizDistance,estArrivalAirportVertDistance,departureAirportCandidatesCount,arrivalAirportCandidatesCount
0,a9519b,1735661721,KFWS,1735662419,75TE,DCM2700,3457.0,487.0,8714.0,1455.0,7,16
1,ab49a8,1735661657,KOXC,1735662380,KOXC,N8261H,3418.0,304.0,2907.0,213.0,1,9
2,aab2c0,1735662065,KCOS,1735663723,None,XEN89,1565.0,72.0,NaN,NaN,0,0
3,e07191,1735662036,SABE,1735663011,None,ARG1892,715.0,47.0,NaN,NaN,0,0
4,e49c59,1735662336,None,1735662959,None,TAM3302,NaN,NaN,NaN,NaN,0,0

In [13]:
df_flights['firstSeen'] = pd.to_datetime(df_flights['firstSeen'], unit='s')
df_flights['lastSeen'] = pd.to_datetime(df_flights['lastSeen'], unit='s')
df_flights.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportHorizDistance,estDepartureAirportVertDistance,estArrivalAirportHorizDistance,estArrivalAirportVertDistance,departureAirportCandidatesCount,arrivalAirportCandidatesCount
0,a9519b,2024-12-31 16:15:21,KFWS,2024-12-31 16:26:59,75TE,DCM2700,3457.0,487.0,8714.0,1455.0,7,16
1,ab49a8,2024-12-31 16:14:17,KOXC,2024-12-31 16:26:20,KOXC,N8261H,3418.0,304.0,2907.0,213.0,1,9
2,aab2c0,2024-12-31 16:21:05,KCOS,2024-12-31 16:48:43,None,XEN89,1565.0,72.0,NaN,NaN,0,0
3,e07191,2024-12-31 16:20:36,SABE,2024-12-31 16:36:51,None,ARG1892,715.0,47.0,NaN,NaN,0,0
4,e49c59,2024-12-31 16:25:36,None,2024-12-31 16:35:59,None,TAM3302,NaN,NaN,NaN,NaN,0,0

In [17]:

pd.options.display.float_format = '{:.2f}'.format
df_flights['estDepartureAirportDistance'] = np.sqrt(df_flights['estDepartureAirportHorizDistance']**2 + df_flights['estDepartureAirportVertDistance']**2)
df_flights['estArrivalAirportDistance'] = np.sqrt(df_flights['estArrivalAirportHorizDistance']**2 + df_flights['estArrivalAirportVertDistance']**2)

df_flights.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportHorizDistance,estDepartureAirportVertDistance,estArrivalAirportHorizDistance,estArrivalAirportVertDistance,departureAirportCandidatesCount,arrivalAirportCandidatesCount,estDepartureAirportDistance,estArrivalAirportDistance
0,a9519b,2024-12-31 16:15:21,KFWS,2024-12-31 16:26:59,75TE,DCM2700,3457.00,487.00,8714.00,1455.00,7,16,3491.13,8834.64
1,ab49a8,2024-12-31 16:14:17,KOXC,2024-12-31 16:26:20,KOXC,N8261H,3418.00,304.00,2907.00,213.00,1,9,3431.49,2914.79
2,aab2c0,2024-12-31 16:21:05,KCOS,2024-12-31 16:48:43,None,XEN89,1565.00,72.00,NaN,NaN,0,0,1566.66,NaN
3,e07191,2024-12-31 16:20:36,SABE,2024-12-31 16:36:51,None,ARG1892,715.00,47.00,NaN,NaN,0,0,716.54,NaN
4,e49c59,2024-12-31 16:25:36,None,2024-12-31 16:35:59,None,TAM3302,NaN,NaN,NaN,NaN,0,0,NaN,NaN

In [18]:
# read list of airports by icao codes
df_airports = pd.read_csv("data/airport-codes.csv") # from  https://github.com/datasets/airport-codes/tree/main
df_airports.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,icao_code,iata_code,gps_code,local_code,coordinates
0,00A,heliport,Total RF Heliport,11.00,NaN,US,US-PA,Bensalem,NaN,NaN,K00A,00A,"40.070985, -74.933689"
1,00AA,small_airport,Aero B Ranch Airport,3435.00,NaN,US,US-KS,Leoti,NaN,NaN,00AA,00AA,"38.704022, -101.473911"
2,00AK,small_airport,Lowell Field,450.00,NaN,US,US-AK,Anchor Point,NaN,NaN,00AK,00AK,"59.947733, -151.692524"
3,00AL,small_airport,Epps Airpark,820.00,NaN,US,US-AL,Harvest,NaN,NaN,00AL,00AL,"34.86479949951172, -86.77030181884766"
4,00AN,small_airport,Katmai Lodge Airport,80.00,NaN,US,US-AK,King Salmon,NaN,NaN,00AN,00AN,"59.093287, -156.456699"