In [45]:
import requests
import pandas as pd
from secrets_config import opensky_api_key # https://openskynetwork.github.io/opensky-api/rest.html
import time
import numpy as np

In [46]:
''' 
current_time = int(time.time())
one_hour_ago = current_time - 3600
print(current_time, one_hour_ago)
'''

' \ncurrent_time = int(time.time())\none_hour_ago = current_time - 3600\nprint(current_time, one_hour_ago)\n'

In [47]:
current_time = int(time.mktime(time.strptime('2025-01-01 02:00:00', '%Y-%m-%d %H:%M:%S')))
one_hour_ago = int(time.mktime(time.strptime('2025-01-01 00:01:00', '%Y-%m-%d %H:%M:%S')))
print(current_time, one_hour_ago)

1735668000 1735660860

In [48]:
root_url = 'https://opensky-network.org/api/flights/all'

In [49]:
# open sky api usage docs: # https://openskynetwork.github.io/opensky-api/rest.html
params = {
    "begin": one_hour_ago,
    "end": current_time
} 
response = requests.get(f"{root_url}", params=params)
print(response.status_code)
response_data = response.json()

200

In [50]:
# showing the data 

df_flights = pd.json_normalize(data=response_data)

df_flights.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportHorizDistance,estDepartureAirportVertDistance,estArrivalAirportHorizDistance,estArrivalAirportVertDistance,departureAirportCandidatesCount,arrivalAirportCandidatesCount
0,a83bb9,1735664535,KMAN,1735666324,KS75,N63DL,80.00,87.00,5792.00,418.00,5,4
1,a9519b,1735661721,KFWS,1735662419,75TE,DCM2700,3457.00,487.00,8714.00,1455.00,7,16
2,a9b7f6,1735662162,KCLT,1735666733,KVPS,AAL2561,1896.00,297.00,2402.00,49.00,0,6
3,ab4187,1735661472,KPHL,1735665228,KBOS,WUP824,1724.00,339.00,467.00,9.00,1,3
4,ab49a8,1735661657,KOXC,1735662380,KOXC,N8261H,3418.00,304.00,2907.00,213.00,1,9

In [51]:
df_flights['firstSeen'] = pd.to_datetime(df_flights['firstSeen'], unit='s')
df_flights['lastSeen'] = pd.to_datetime(df_flights['lastSeen'], unit='s')
df_flights.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportHorizDistance,estDepartureAirportVertDistance,estArrivalAirportHorizDistance,estArrivalAirportVertDistance,departureAirportCandidatesCount,arrivalAirportCandidatesCount
0,a83bb9,2024-12-31 17:02:15,KMAN,2024-12-31 17:32:04,KS75,N63DL,80.00,87.00,5792.00,418.00,5,4
1,a9519b,2024-12-31 16:15:21,KFWS,2024-12-31 16:26:59,75TE,DCM2700,3457.00,487.00,8714.00,1455.00,7,16
2,a9b7f6,2024-12-31 16:22:42,KCLT,2024-12-31 17:38:53,KVPS,AAL2561,1896.00,297.00,2402.00,49.00,0,6
3,ab4187,2024-12-31 16:11:12,KPHL,2024-12-31 17:13:48,KBOS,WUP824,1724.00,339.00,467.00,9.00,1,3
4,ab49a8,2024-12-31 16:14:17,KOXC,2024-12-31 16:26:20,KOXC,N8261H,3418.00,304.00,2907.00,213.00,1,9

In [52]:

pd.options.display.float_format = '{:.2f}'.format
df_flights['estDepartureAirportDistance'] = np.sqrt(df_flights['estDepartureAirportHorizDistance']**2 + df_flights['estDepartureAirportVertDistance']**2)
df_flights['estArrivalAirportDistance'] = np.sqrt(df_flights['estArrivalAirportHorizDistance']**2 + df_flights['estArrivalAirportVertDistance']**2)

df_flights.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportHorizDistance,estDepartureAirportVertDistance,estArrivalAirportHorizDistance,estArrivalAirportVertDistance,departureAirportCandidatesCount,arrivalAirportCandidatesCount,estDepartureAirportDistance,estArrivalAirportDistance
0,a83bb9,2024-12-31 17:02:15,KMAN,2024-12-31 17:32:04,KS75,N63DL,80.00,87.00,5792.00,418.00,5,4,118.19,5807.06
1,a9519b,2024-12-31 16:15:21,KFWS,2024-12-31 16:26:59,75TE,DCM2700,3457.00,487.00,8714.00,1455.00,7,16,3491.13,8834.64
2,a9b7f6,2024-12-31 16:22:42,KCLT,2024-12-31 17:38:53,KVPS,AAL2561,1896.00,297.00,2402.00,49.00,0,6,1919.12,2402.50
3,ab4187,2024-12-31 16:11:12,KPHL,2024-12-31 17:13:48,KBOS,WUP824,1724.00,339.00,467.00,9.00,1,3,1757.01,467.09
4,ab49a8,2024-12-31 16:14:17,KOXC,2024-12-31 16:26:20,KOXC,N8261H,3418.00,304.00,2907.00,213.00,1,9,3431.49,2914.79

In [53]:
df_flights_transformed = df_flights[['icao24', 'firstSeen', 'estDepartureAirport', 'lastSeen', 'estArrivalAirport', 'callsign', 'estDepartureAirportDistance', 'estArrivalAirportDistance']]
df_flights_transformed.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportDistance,estArrivalAirportDistance
0,a83bb9,2024-12-31 17:02:15,KMAN,2024-12-31 17:32:04,KS75,N63DL,118.19,5807.06
1,a9519b,2024-12-31 16:15:21,KFWS,2024-12-31 16:26:59,75TE,DCM2700,3491.13,8834.64
2,a9b7f6,2024-12-31 16:22:42,KCLT,2024-12-31 17:38:53,KVPS,AAL2561,1919.12,2402.50
3,ab4187,2024-12-31 16:11:12,KPHL,2024-12-31 17:13:48,KBOS,WUP824,1757.01,467.09
4,ab49a8,2024-12-31 16:14:17,KOXC,2024-12-31 16:26:20,KOXC,N8261H,3431.49,2914.79

In [54]:
# read list of airports by icao codes
df_airports = pd.read_csv("data/airport-codes.csv") # from  https://github.com/datasets/airport-codes/tree/main
df_airports.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,icao_code,iata_code,gps_code,local_code,coordinates
0,00A,heliport,Total RF Heliport,11.00,NaN,US,US-PA,Bensalem,NaN,NaN,K00A,00A,"40.070985, -74.933689"
1,00AA,small_airport,Aero B Ranch Airport,3435.00,NaN,US,US-KS,Leoti,NaN,NaN,00AA,00AA,"38.704022, -101.473911"
2,00AK,small_airport,Lowell Field,450.00,NaN,US,US-AK,Anchor Point,NaN,NaN,00AK,00AK,"59.947733, -151.692524"
3,00AL,small_airport,Epps Airpark,820.00,NaN,US,US-AL,Harvest,NaN,NaN,00AL,00AL,"34.86479949951172, -86.77030181884766"
4,00AN,small_airport,Katmai Lodge Airport,80.00,NaN,US,US-AK,King Salmon,NaN,NaN,00AN,00AN,"59.093287, -156.456699"

In [55]:
# Merge for departure airport information
merged_departure = df_flights_transformed.merge(df_airports, left_on='estDepartureAirport', right_on='ident', how='left').drop('ident', axis=1)
merged_departure = merged_departure.rename(columns={
    'name': 'departure_airport_name', 
    'coordinates': 'departure_coordinates', 
    'iso_country': 'departure_country',
    'elevation_ft': 'departure_elevation_ft',
    'continent': 'departure_continent',
    'iso_region': 'departure_iso_region',
    'municipality': 'departure_municipality',
    'icao_code': 'departure_icao_code',
    'iata_code': 'departure_iata_code',
    'gps_code': 'departure_gps_code',
    'local_code': 'departure_local_code',
    'type': 'departure_airport_type',
})

# Merge for arrival airport information
final_merged = merged_departure.merge(df_airports, left_on='estArrivalAirport', right_on='ident', how='left').drop('ident', axis=1)
final_merged = final_merged.rename(columns={
    'name': 'arrival_airport_name', 
    'coordinates': 'arrival_coordinates', 
    'iso_country': 'arrival_country',
    'elevation_ft': 'arrival_elevation_ft',
    'continent': 'arrival_continent',
    'iso_region': 'arrival_iso_region',
    'municipality': 'arrival_municipality',
    'icao_code': 'arrival_icao_code',
    'iata_code': 'arrival_iata_code',
    'gps_code': 'arrival_gps_code',
    'local_code': 'arrival_local_code',
    'type': 'arrival_airport_type',
})

final_merged.head()

,icao24,firstSeen,estDepartureAirport,lastSeen,estArrivalAirport,callsign,estDepartureAirportDistance,estArrivalAirportDistance,departure_airport_type,departure_airport_name,...,arrival_elevation_ft,arrival_continent,arrival_country,arrival_iso_region,arrival_municipality,arrival_icao_code,arrival_iata_code,arrival_gps_code,arrival_local_code,arrival_coordinates
0,a83bb9,2024-12-31 17:02:15,KMAN,2024-12-31 17:32:04,KS75,N63DL,118.19,5807.06,NaN,NaN,...,2228.00,NaN,US,US-ID,Payette,NaN,NaN,S75,S75,"44.091598510699995, -116.901000977"
1,a9519b,2024-12-31 16:15:21,KFWS,2024-12-31 16:26:59,75TE,DCM2700,3491.13,8834.64,small_airport,Fort Worth Spinks Airport,...,500.00,NaN,US,US-TX,Waco,NaN,NaN,75TE,75TE,"31.747400283813477, -97.24610137939453"
2,a9b7f6,2024-12-31 16:22:42,KCLT,2024-12-31 17:38:53,KVPS,AAL2561,1919.12,2402.50,large_airport,Charlotte Douglas International Airport,...,87.00,NaN,US,US-FL,Valparaiso,KVPS,VPS,KVPS,VPS,"30.4832, -86.525398"
3,ab4187,2024-12-31 16:11:12,KPHL,2024-12-31 17:13:48,KBOS,WUP824,1757.01,467.09,large_airport,Philadelphia International Airport,...,20.00,NaN,US,US-MA,Boston,KBOS,BOS,KBOS,BOS,"42.36197, -71.0079"
4,ab49a8,2024-12-31 16:14:17,KOXC,2024-12-31 16:26:20,KOXC,N8261H,3431.49,2914.79,small_airport,Waterbury Oxford Airport,...,726.00,NaN,US,US-CT,Oxford,KOXC,OXC,KOXC,OXC,"41.47859954834, -73.135200500488"

In [56]:
final_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3985 entries, 0 to 3984
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   icao24                       3985 non-null   object
 1   firstSeen                    3985 non-null   datetime64[ns]
 2   estDepartureAirport          3242 non-null   object
 3   lastSeen                     3985 non-null   datetime64[ns]
 4   estArrivalAirport            3457 non-null   object
 5   callsign                     3979 non-null   object
 6   estDepartureAirportDistance  3242 non-null   float64
 7   estArrivalAirportDistance    3457 non-null   float64
 8   departure_airport_type       3154 non-null   object
 9   departure_airport_name       3154 non-null   object
 10  departure_elevation_ft       3153 non-null   float64
 11  departure_continent          557 non-null    object
 12  departure_country            3154 non-null   object
 13  departure_iso_region         3154 non-null   object
 14  departure_municipality       3149 non-null   object
 15  departure_icao_code          2458 non-null   object
 16  departure_iata_code          2476 non-null   object
 17  departure_gps_code           3123 non-null   object
 18  departure_local_code         2606 non-null   object
 19  departure_coordinates        3154 non-null   object
 20  arrival_airport_type         3331 non-null   object
 21  arrival_airport_name         3331 non-null   object
 22  arrival_elevation_ft         3331 non-null   float64
 23  arrival_continent            710 non-null    object
 24  arrival_country              3331 non-null   object
 25  arrival_iso_region           3331 non-null   object
 26  arrival_municipality         3323 non-null   object
 27  arrival_icao_code            2327 non-null   object
 28  arrival_iata_code            2377 non-null   object
 29  arrival_gps_code             3284 non-null   object
 30  arrival_local_code           2644 non-null   object
 31  arrival_coordinates          3331 non-null   object
dtypes: datetime64[ns](2), float64(4), object(26)
memory usage: 1.0+ MB

In [57]:
final_merged.columns

Index(['icao24', 'firstSeen', 'estDepartureAirport', 'lastSeen',
       'estArrivalAirport', 'callsign', 'estDepartureAirportDistance',
       'estArrivalAirportDistance', 'departure_airport_type',
       'departure_airport_name', 'departure_elevation_ft',
       'departure_continent', 'departure_country', 'departure_iso_region',
       'departure_municipality', 'departure_icao_code', 'departure_iata_code',
       'departure_gps_code', 'departure_local_code', 'departure_coordinates',
       'arrival_airport_type', 'arrival_airport_name', 'arrival_elevation_ft',
       'arrival_continent', 'arrival_country', 'arrival_iso_region',
       'arrival_municipality', 'arrival_icao_code', 'arrival_iata_code',
       'arrival_gps_code', 'arrival_local_code', 'arrival_coordinates'],
      dtype='object')

In [58]:
columns_to_keep = [
    'icao24', 'firstSeen', 'lastSeen', 'estDepartureAirport', 'estArrivalAirport', 
    'callsign', 'estDepartureAirportDistance', 'estArrivalAirportDistance', 
    'departure_airport_type', 'departure_airport_name', 'departure_country', 
    'departure_coordinates', 'arrival_airport_type', 'arrival_airport_name', 
    'arrival_country', 'arrival_coordinates'
]

df_filtered = final_merged[columns_to_keep]
df_filtered.head()

,icao24,firstSeen,lastSeen,estDepartureAirport,estArrivalAirport,callsign,estDepartureAirportDistance,estArrivalAirportDistance,departure_airport_type,departure_airport_name,departure_country,departure_coordinates,arrival_airport_type,arrival_airport_name,arrival_country,arrival_coordinates
0,a83bb9,2024-12-31 17:02:15,2024-12-31 17:32:04,KMAN,KS75,N63DL,118.19,5807.06,NaN,NaN,NaN,NaN,small_airport,Payette Municipal Airport,US,"44.091598510699995, -116.901000977"
1,a9519b,2024-12-31 16:15:21,2024-12-31 16:26:59,KFWS,75TE,DCM2700,3491.13,8834.64,small_airport,Fort Worth Spinks Airport,US,"32.565201, -97.308098",small_airport,Womack Farm Airport,US,"31.747400283813477, -97.24610137939453"
2,a9b7f6,2024-12-31 16:22:42,2024-12-31 17:38:53,KCLT,KVPS,AAL2561,1919.12,2402.50,large_airport,Charlotte Douglas International Airport,US,"35.2140007019043, -80.94309997558594",medium_airport,Destin-Fort Walton Beach Airport,US,"30.4832, -86.525398"
3,ab4187,2024-12-31 16:11:12,2024-12-31 17:13:48,KPHL,KBOS,WUP824,1757.01,467.09,large_airport,Philadelphia International Airport,US,"39.871899, -75.241096",large_airport,Logan International Airport,US,"42.36197, -71.0079"
4,ab49a8,2024-12-31 16:14:17,2024-12-31 16:26:20,KOXC,KOXC,N8261H,3431.49,2914.79,small_airport,Waterbury Oxford Airport,US,"41.47859954834, -73.135200500488",small_airport,Waterbury Oxford Airport,US,"41.47859954834, -73.135200500488"

In [59]:
df_filtered.dtypes

icao24                                 object
firstSeen                      datetime64[ns]
lastSeen                       datetime64[ns]
estDepartureAirport                    object
estArrivalAirport                      object
callsign                               object
estDepartureAirportDistance           float64
estArrivalAirportDistance             float64
departure_airport_type                 object
departure_airport_name                 object
departure_country                      object
departure_coordinates                  object
arrival_airport_type                   object
arrival_airport_name                   object
arrival_country                        object
arrival_coordinates                    object
dtype: object

In [60]:
departure_distance_range = (df_filtered['estDepartureAirportDistance'].min(), df_filtered['estDepartureAirportDistance'].max())
arrival_distance_range = (df_filtered['estArrivalAirportDistance'].min(), df_filtered['estArrivalAirportDistance'].max())

print("Departure Airport Distance Range:", departure_distance_range)
print("Arrival Airport Distance Range:", arrival_distance_range)

Departure Airport Distance Range: (32.28002478313795, 15064.247740926196)
Arrival Airport Distance Range: (26.832815729997478, 30042.367017264136)

In [61]:
df_filtered.describe()

       estDepartureAirportDistance  estArrivalAirportDistance
count                      3242.00                    3457.00
mean                       2793.93                    4840.56
std                        3110.05                    5207.92
min                          32.28                      26.83
25%                         753.45                    1515.16
50%                        1571.93                    2873.54
75%                        3529.88                    6166.66
max                       15064.25                   30042.37

In [62]:
duplicates_all = df_filtered[df_filtered.duplicated(subset='icao24', keep=False)]
duplicates_all
# A good set of primary keys would be 'icao24', 'firstSeen', and 'lastSeen' as they uniquely identify each flight record.
duplicates_all.set_index(['icao24', 'firstSeen', 'lastSeen'], inplace=True)

In [63]:
duplicates = df_flights[df_flights.duplicated(subset=['icao24', 'firstSeen'], keep=False)]
duplicates

Empty DataFrame
Columns: [icao24, firstSeen, estDepartureAirport, lastSeen, estArrivalAirport, callsign, estDepartureAirportHorizDistance, estDepartureAirportVertDistance, estArrivalAirportHorizDistance, estArrivalAirportVertDistance, departureAirportCandidatesCount, arrivalAirportCandidatesCount, estDepartureAirportDistance, estArrivalAirportDistance]
Index: []